---
import Base from '../layouts/Base.astro'

const title = 'Astro Blog Starter'
const description = 'Astro Blog Starter Description'
---
<Base title={title} description={description}>
	<h1 class="text-3xl font-bold underline">Astro</h1>
</Base>
